# OOPS - object oriented Programming Language

In [1]:
def Crow():
    color='Black'
    Fly= True
    size='small'

In [2]:
def Ostrich():
    color='Greyish Black'
    Fly= False
    size='XL'

In [3]:
def Chicken():
    Bi_color= True
    color1='white'
    color2='Yellow'
    Fly= 'Semi True'
    size='L'

In [ ]:
'We use function to avoid multiple methods'

In [4]:
class sampleclass:
    x=5
    
obj = sampleclass()
print(obj.x)

5

In [17]:
#Self is used to determine the function if from its own class
class sample:
    def sum_nos(self,a,b):
        return a+b

In [18]:
obj=sample()
result=obj.sum_nos(5,4)
print(result)

9

# Filter

In [19]:
def vowels(ele):
    vow=['a','e','i','o','u']
    if ele in vow:
        return True
    else:
        return False

In [20]:
vowels('a')

True

In [21]:
lst=['y','n','i','k','u']
sequence=filter(vowels,lst)
list(sequence)

['i', 'u']

In [22]:
import pandas as pd

In [23]:
orders=pd.read_csv("https://raw.githubusercontent.com/Laxminarayen/Inceptez_batch_16/main/orders.csv")

In [24]:
orders.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [25]:
orders.groupby(['Company Id','Type of Meal'])['Meal Price'].mean()

Company Id        Type of Meal
00CVEIVO8C92FFBO  Breakfast       346.500000
                  Dinner          425.000000
                  Lunch           426.428571
00WJ866YXWT58K2S  Breakfast       392.166667
                  Dinner          342.666667
                                     ...
ZZY3WSHGJWPKJBCV  Dinner          351.428571
                  Lunch           511.333333
ZZYB9JLJKXRH7U6O  Breakfast       729.000000
                  Dinner          336.000000
                  Lunch           149.000000
Name: Meal Price, Length: 3976, dtype: float64

# Pivot

In [27]:
pd.pivot_table(orders , index=['Company Id','Type of Meal'],values='Meal Price')
#default averAGE
#IN EXCEL=sum

                               Meal Price
Company Id       Type of Meal
00CVEIVO8C92FFBO Breakfast     346.500000
                 Dinner        425.000000
                 Lunch         426.428571
00WJ866YXWT58K2S Breakfast     392.166667
                 Dinner        342.666667
...                                   ...
ZZY3WSHGJWPKJBCV Dinner        351.428571
                 Lunch         511.333333
ZZYB9JLJKXRH7U6O Breakfast     729.000000
                 Dinner        336.000000
                 Lunch         149.000000

[3976 rows x 1 columns]

# Reduce

In [28]:
import functools

In [29]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [34]:
def sumed(a,b):
    return a+b

In [35]:
sum(lst)

55

In [41]:
functools.reduce(sumed,lst)

55

In [46]:
functools.reduce(lambda a,b:a if a>b else b,lst)

10