## Exercise 1: NumPy: Create an array with values ranging from 12 to 38

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

In [1]:
import numpy as np
arr1=np.array(range(12,38,1))
print(arr1)

[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
 36 37]

## Exercise 2: Add a border around an existing array
##### Hint: np.pad()

Original array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

In [5]:
arr = np.ones((3,3))
print(arr)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [42]:
y=np.pad(arr, (1), 'constant')
y

array([[0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0.]])

In [43]:
np.pad?

# Exercise 3: Convert a list and tuple into arrays

In [48]:
l=[1,2,3,4,5,7,8]
arr = np.asarray(l)
print(arr)

[1 2 3 4 5 7 8]

In [49]:
tup = (11, 21, 19, 18, 46, 29)
arr = np.asarray(tup)
print(arr)

[11 21 19 18 46 29]

## Also try np.asarray for the problem above!

In [45]:
tup = ([11, 21, 19], [18, 46, 29])
arr = np.asarray(tup)
print(arr)

[[11 21 19]
 [18 46 29]]

## Exercise 4:  Convert the values of Centigrade degrees into Fahrenheit degrees

Values in Fahrenheit degrees:
[ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:
[-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

In [59]:
fahrenheit=np.array([ 0. ,  12.  , 45.21 ,34. ,  99.91])
print("Values in Fahrenheit degrees:",fahrenheit)
print("Values in  Centigrade degrees: ",((fahrenheit)-32)*(5/9))

Values in Fahrenheit degrees: [ 0.   12.   45.21 34.   99.91]
Values in  Centigrade degrees:  [-17.77777778 -11.11111111   7.33888889   1.11111111  37.72777778]

## Exercise 5: Write a NumPy program to find the number of elements of an array, length of one array element in bytes and total bytes consumed by the elements.

Size of the array:  3
Length of one array element in bytes:  8
Total bytes consumed by the elements of the array:  24

In [80]:
arr=np.array(range(1,4,1),dtype=np.int32)

print("Array ",arr)
print("size of the array: ",arr.size)
print("Length of one array element in bytes:",arr.itemsize)
print("Total bytes consumed by the elements of the array:",arr.nbytes)

Array  [1 2 3]
size of the array:  3
Length of one array element in bytes: 4
Total bytes consumed by the elements of the array: 12

In [81]:
arr=np.array(range(1,4,1),dtype=np.int64)

print("Array ",arr)
print("size of the array: ",arr.size)
print("Length of one array element in bytes:",arr.itemsize)
print("Total bytes consumed by the elements of the array:",arr.nbytes)

Array  [1 2 3]
size of the array:  3
Length of one array element in bytes: 8
Total bytes consumed by the elements of the array: 24

In [82]:
arr=np.array(range(1,4,1))

print("Array ",arr)
print("size of the array: ",arr.size)
print("Length of one array element in bytes:",arr.itemsize)
print("Total bytes consumed by the elements of the array:",arr.nbytes)

Array  [1 2 3]
size of the array:  3
Length of one array element in bytes: 4
Total bytes consumed by the elements of the array: 12

## Exercise 6: Get the unique elements of an array

In [83]:
arr=np.array([1,2,3,4,5,1,1,2,3,4,5,6])
np.unique(arr)

array([1, 2, 3, 4, 5, 6])

## Exercise 7: Change the dimension of an array

Original array: [1 2 3 4 5 6 7 8 9]
Change array shape to (3, 3) -> 3 rows and 3 columns
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [88]:
arr=np.array([1,2,3,4,5,6,7,8,9])
print(arr.reshape((3,3)))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

## Exercise 8: Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [90]:
print(np.linspace(2.5,6.5,30,endpoint=True))

[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

## Exercise 9: Convert 1-D arrays as columns into a 2-D array

Array1: [10 20 30]
Array2: [40 50 60]
Converted array
[[10 40]
 [20 50]
 [30 60]]

In [91]:
arr1=np.array([10,20,30])
arr2=np.array([40,50,60])
np.column_stack?

In [93]:
print(np.column_stack((arr1,arr2)))

[[10 40]
 [20 50]
 [30 60]]

## Exercise 10: Create a 5x5 matrix with row values ranging from 0 to 4

Original array:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

In [107]:
arr=np.zeros((5,5))
num=np.arange(5)
print("Original array:\n",arr)
print("Row values ranging from 0 to 4.\n ",num)
print("Final Array \n",arr+num)

Original array:
 [[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
Row values ranging from 0 to 4.
  [0 1 2 3 4]
Final Array
 [[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

## Exercise 11: Sum of all the multiples of 3 or 5 below 100

[ 3  5  6  9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51
 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99]
2318

In [122]:
arr=np.array(range(1,100))
sum=int()
for i in arr:
    if (i%3==0) or (i%5==0):
        sum=sum+i
print("Sum :", sum)

Sum  2318

## Exercise 12: Combine a one and a two dimensional array together and display their elements
##### Hint : np.nditer()

In [28]:
x = np.arange(4)
y = np.arange(4)
for a, b in np.nditer([x,y]):
    print(a)
    print(b)

0
0
1
1
2
2
3
3

One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

In [137]:
x = np.arange(4)
x=x.reshape((1,4))
print("1D array :",x)
y = np.arange(8)
y=y.reshape((2,4))
print("2D array :\n",y)

for a, b in np.nditer([x,y]):
    print("%d:%d" % (a,b))

1D array : [[0 1 2 3]]
2D array :
 [[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

## Exercise 13: Write a NumPy program to replace all elements of NumPy array that are greater than specified array.

Original array:
[[0.42436315 0.48558583 0.32924763]
 [0.7439979  0.58220701 0.38213418]
 [0.5097581  0.34528799 0.1563123 ]]
Replace all elements of the said array with .5 which are greater than .5
[[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

In [2]:
arr=np.array([[0.42436315,0.48558583, 0.32924763],
 [0.7439979 , 0.58220701, 0.38213418],
 [0.5097581 , 0.34528799, 0.1563123 ]])
arr

array([[0.42436315, 0.48558583, 0.32924763],
       [0.7439979 , 0.58220701, 0.38213418],
       [0.5097581 , 0.34528799, 0.1563123 ]])

In [4]:
arr = np.where(arr > 0.5, 0.5, arr)
print("replaced Array \n",arr)

replaced Array
 [[0.42436315 0.48558583 0.32924763]
 [0.5        0.5        0.38213418]
 [0.5        0.34528799 0.1563123 ]]

## Exercise 14: Add a new row to an empty numpy array

Empty array:
[]
After adding two new arrays:
[[10 20 30]
 [40 50 60]]

In [28]:
arr = np.empty((0,3), int)
print("Empty Array",arr)
arr = np.append(arr, np.array([[10,20,30]]), axis=0)
arr = np.append(arr, np.array([[40,50,60]]), axis=0)
print("After adding two new arrays:",arr)

Empty Array []
After adding two new arrays: [[10 20 30]
 [40 50 60]]

## Exercise 15: Write a NumPy program to join a sequence of arrays along a new axis.

Original arrays:
[1 2 3]
[2 3 4]
Sequence of arrays along a new axis:
[[1 2 3]
 [2 3 4]]

Original arrays:
[[1]
 [2]
 [3]]

[[2]
 [3]
 [4]]
Sequence of arrays along a new axis:
[[1]
 [2]
 [3]
 [2]
 [3]
 [4]]

In [36]:
arr=np.array([[1, 2 ,3],
[2, 3 ,4]])
print("Original Array\n",arr)
arr=np.stack((arr), axis = 1)
print("Sequence of arrays along a new axis:\n",arr)

Original Array
 [[1 2 3]
 [2 3 4]]
Sequence of arrays along a new axis:
 [[1 2]
 [2 3]
 [3 4]]

In [41]:
arr1=np.array([[1], [2], [3]])
arr2=np.array([[2], [3], [4]])
print(np.stack((arr1,arr2), axis = 1))
print(np.stack((arr1,arr2), axis = 2))

[[[1]
  [2]]

 [[2]
  [3]]

 [[3]
  [4]]]
[[[1 2]]

 [[2 3]]

 [[3 4]]]